$font-family-main: "Roboto", "Arial", sans-serif;
$font-family-optional: "Yeseva One", "Times New Roman", serif;

$black: #000000;
$white: #ffffff;
$warm-white: #fdf2e6;
$medium-white: #ddd0c3;
$deep-black: #151313;
$dark-gray: #181617;
$medium-gray: #1f1c1d;
$medium-brown: #a07b50;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1366px;

$mobile-width-only: (768 - 1)px;
$tablet-width-only: 1366px - 1px;

