.advantages {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: $deep-black;
}

.advantages__lead {
  margin-top: 23px;
  margin-bottom: 50px;
}

.advantages__list {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.advantages__item {
  margin: 0 auto;
  padding: 15px;
  width: 260px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    width: 320px;
    padding: 17px 20px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;

    &:not(:last-child) {
      margin-right: 40px;
      margin-bottom: 0;
    }
  }

  background-color: $medium-gray;
}

.advantages__link {
  position: relative;
  display: block;
  padding: 190px 44px 24px;
  color: $white;
  line-height: 26px;
  text-align: center;
  font-weight: 300;

  @media (max-width: $mobile-width-only) {
    font-size: 14px;
    line-height: 20px;
  }

  &:hover {
    background-color: $medium-brown;

    .advantages__icon {
      fill: $white;
    }
  }
}

.advantages__icon {
  position: absolute;
  top: 47px;
  left: 0;
  right: 0;
  margin: auto;
  width: 110px;
  height: 110px;
}
