.breed {
  padding-top: 40px;
  padding-bottom: 100px;

  @media(max-width: $tablet-width-only) {
    padding-top: 45px;
  }
}

.breed__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breed__lead {
  margin-top: 23px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 443px;
  }

  @media (min-width: $desktop-width) {
    width: 735px;
  }
}

.breed__inner {
  position: relative;
}

.breed__picture {
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 50%;
  }
  &::before {
    top: 40px;
    left: 10px;

    @media (min-width: $tablet-width) {
      width: 420px;
      height: 420px;
      left: -16px;
    }

    @media (min-width: $desktop-width) {
      width: 630px;
      height: 630px;
    }

    border: 1px solid $medium-brown;
  }
  &::after {
    top: 100px;
    left: 65px;

    @media (min-width: $tablet-width) {
      width: 340px;
      height: 340px;
      top: 84px;
      left: 26px;
    }

    @media (min-width: $desktop-width) {
      width: 520px;
      height: 520px;
      top: 100px;
      left: 39px;
    }

    background-color: $deep-black;
  }
}

.breed__picture-img {
  display: block;
}

.breed__item {
  position: absolute;
  font-weight: 300;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $medium-brown;

    @media (max-width: $tablet-width-only) {
      right: -30px;
    }
  }

  &--cohabitation {
    width: 280px;
    top: 220px;
    left: -290px;
    text-align: right;

    @media (max-width: $tablet-width-only) {
      width: 150px;
      top: 140px;
      left: -160px;
    }
  }

  &--appearance {
    width: 220px;
    text-align: right;
    left: -240px;
    bottom: 150px;

    @media (max-width: $tablet-width-only) {
      width: 150px;
      bottom: 10px;
      left: -155px;
    }
  }

  &--training {
    width: 210px;
    right: -245px;
    bottom: 285px;

    &::after {
      right: 0;
      left: -30px;
    }

    @media (max-width: $tablet-width-only) {
      width: 132px;
      right: -160px;
      bottom: 120px;
    }
  }

  &--weight {
    width: 170px;
    right: -160px;
    bottom: 95px;

    &::after {
      right: 0;
      left: -30px;
    }

    @media (max-width: $tablet-width-only) {
      width: 115px;
      right: -90px;
      bottom: -15px;
    }
  }
}
