.footer {
  padding: 68px 0;
  background-color: $deep-black;

  @media (max-width: $tablet-width-only) {
    font-size: 14px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 40px 0;
    line-height: 20px;
  }
}

.footer__logo {
  @media (min-width: $desktop-width) {
    margin-right: 125px;
  }

  @media (max-width: $tablet-width-only) {
    display: none;
  }

  @media (max-width: $mobile-width-only) {
    display: block;
    margin-top: 26px;
  }

  &:hover,
  &:focus {
    .footer__logo-icon {
      fill: $white;
    }
  }
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $tablet-width-only) {
    justify-content: space-between;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column-reverse;
  }
}

.footer__social {
  @media (max-width: $mobile-width-only) {
    margin-top: 26px;
  }
}

.footer__social-link {
  &:hover,
  &:focus {
    .footer__social-icon {
      fill: $white;
    }
  }
}

.footer__address {
  @media (min-width: $desktop-width) {
    margin-left: 160px;
    margin-right: 68px;
  }

  @media (max-width: $tablet-width-only) {
    margin: 0;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 26px;
  }

  color: rgba($warm-white, 0.8);
}

.footer__tel {
  color: $warm-white;
}
