.pets {
  padding-top: 60px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 45px;
  }
  @media (min-width: $desktop-width) {
    padding-top: 220px;
    padding-bottom: 40px;
  }
}

.pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pets__lead {
  @media (min-width: $desktop-width) {
    width: 516px;
  }

  margin-top: 23px;
  margin-bottom: 38px;
}

.pets__list {
  display: flex;
  margin-bottom: 40px;
}

.pets__item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.pets__tab {
  font-size: 18px;
  line-height: 31px;
  font-weight: 500;
  color: $white;
  opacity: 0.2;
  &--active {
    opacity: 1;
  }
}

.pets__slider {
  align-self: stretch;
  display: flex;
  justify-content: center;


}

.pets__slider-list {
  position: relative;
  padding: 0 28px;
  @media (min-width: $desktop-width) {
    display: grid;
    column-gap: 35px;
    grid-template-columns: max-content max-content;
    grid-template-rows: min-content min-content;
  }
}

.pets__slider-item {
  display: none;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    &:not(&--big) {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
    }

    &--top {
      left: -40px;
    }

    &--bottom {
      right: -40px;
    }
  }

  &--top {
    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &--bottom {
    grid-column: 1;
    margin-top: auto;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
  &--big {
    display: block;
    grid-column: 2;
    grid-row: 1 / -1;
  }
}

.pets__slider-img {
  display: block;
  object-fit: cover;
  &--top {
    height: 214px;
  }

  &:not(&--big) {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      height: 200px;
    }
  }
}

.pets__slider-button {
  opacity: 1;
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.pets__button {
  margin: 0 auto;
  margin-top: 55px;
}
