.reviews {
  padding-bottom: 112px;

  @media (max-width: $tablet-width-only) {
    padding-bottom: 87px;
  }
}

.reviews__slider-list {
  margin-top: 58px;

  @media (max-width: $tablet-width-only) {
    margin-top: 143px;
    padding-left: 9%;
    padding-right: 7%;
  }

  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}

.reviews__item {
  display: flex;
  align-items: center;
  padding-left: 120px;

  @media (max-width: $tablet-width-only) {
    display: block;
    padding: 0;
  }
}

.reviews__img-wrapper {
  margin-right: -100px;
  z-index: 10;
}

.reviews__img {
  display: block;

  @media (max-width: $tablet-width-only) {
    position: absolute;
    top: -95px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 302px;
    height: 208px;
  }

  @media (max-width: $mobile-width-only) {
    width: 242px;
    height: 166px;
  }
}

.reviews__text-wrapper {
  margin: 0;
}

.reviews__text {
  @media (min-width: $desktop-width) {
    padding: 110px 90px 110px 140px;
    width: 403px;
  }

  background-color: $deep-black;

  @media (max-width: $tablet-width-only) {
    padding: 148px 85px 33px;
    text-align: center;
  }

  @media (max-width: $mobile-width-only) {
    padding: 118px 30px 40px;
  }
}

.reviews__author {
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
}

.reviews__message {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 300;
  color: rgba($white, 0.7);
}

.reviews__info {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  color: $medium-brown;

  @media (max-width: $tablet-width-only) {
    display: flex;
    justify-content: center;
  }
}

.reviews__social-list {
  margin-left: 40px;
  align-items: stretch;
}

.reviews__social-item {
  display: flex;
  align-items: center;
  padding: 6px;
  border: 1px solid $medium-brown;

  &:hover,
  &:focus {
    border-color: $white;

    .reviews__social-icon {
      fill: $white;
    }
  }
}

.reviews__slider-button {
  @media (max-width: $tablet-width-only) {
    top: 39px;
    width: 59px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;

    &--prev {
      left: 15%;
      background-image: url("../../img/arrowPrevLong.svg");
    }

    &--next {
      right: 15%;
      background-image: url("../../img/arrowNextLong.svg");
    }
  }

  @media (max-width: $mobile-width-only) {
    width: 15px;
    height: 19px;

    &--prev {
      left: 0;
      background-image: url("../../img/arrowPrev.svg");
    }

    &--next {
      right: 0;
      background-image: url("../../img/arrowNext.svg");
    }
  }
}
