@font-face {
  font-family: "Yeseva One";
  font-weight: 400;
  font-style: normal;
  src: local("Yeseva One"), url("../fonts/yesevaone.woff2") format("woff2"), url("../fonts/yesevaone.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: local("Roboto"), url("../fonts/Robotolight.woff2") format("woff2"), url("../fonts/Robotolight.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"), url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"), url("../fonts/Robotomedium.woff2") format("woff2"), url("../fonts/RobotoMedium.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto"), url("../fonts/Robotobold.woff2") format("woff2"), url("../fonts/Robotobold.woff") format("woff"); }

a {
  text-decoration: none; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

img {
  max-width: 100%;
  height: auto; }

.page-body {
  padding: 0;
  margin: 0;
  background-color: #1f1c1d;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff; }

.social,
.pets__list,
.slider__list,
.breed__list,
.advantages__list,
.care__list,
.faq__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.wrapper {
  max-width: 1160px;
  margin: 0 auto; }

.button {
  display: inline-block;
  padding: 18px 35px;
  border: 1px solid #a07b50;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700; }
  .button:hover, .button:focus {
    background-color: #a07b50; }

.section-title {
  margin: 0;
  text-align: center;
  font-family: "Yeseva One", "Times New Roman", serif;
  font-size: 36px;
  line-height: 42px; }

.section-lead {
  margin: 0;
  text-align: center;
  font-weight: 300;
  color: #a07b50; }

.slider {
  position: relative; }

.social {
  display: flex;
  align-items: center; }

.social__item:not(:last-child) {
  margin-right: 10px; }

.social__link {
  display: flex;
  align-items: center; }
  .social__link:hover .social__icon {
    fill: #a07b50; }

.header {
  background-color: #181617;
  background-image: url("../img/main-cat-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: top right; }

.header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 47px;
  padding-bottom: 120px; }

.header__logo {
  align-self: center; }
  .header__logo:hover .header__logo-icon, .header__logo:focus .header__logo-icon {
    fill: #ffffff; }

.header__social {
  position: absolute;
  bottom: 64px;
  left: -52px;
  flex-direction: column;
  align-items: center; }

.header__social-item:not(:last-child) {
  margin-right: 0; }

.header__social-link {
  display: inline; }

.header__social::before {
  content: "";
  position: absolute;
  top: -140%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1px;
  height: 77px;
  background-color: #ffffff;
  opacity: 0.6; }

.header__content {
  margin-left: 100px;
  width: 350px; }

.header__city {
  margin-top: 115px;
  margin-bottom: 18px;
  color: #a07b50; }

.header__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Yeseva One", "Times New Roman", serif;
  font-size: 52px;
  line-height: 60px; }

.header__description {
  margin: 0;
  margin-bottom: 70px;
  width: 300px;
  color: #a07b50; }

.pets {
  padding-top: 220px;
  padding-bottom: 40px; }

.pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.pets__lead {
  width: 516px;
  margin-top: 23px;
  margin-bottom: 38px; }

.pets__list {
  display: flex;
  margin-bottom: 40px; }

.pets__item:not(:last-child) {
  margin-right: 40px; }

.pets__tab {
  font-size: 18px;
  line-height: 31px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.2; }
  .pets__tab--active {
    opacity: 1; }

.pets__slider {
  display: grid;
  -moz-column-gap: 35px;
       column-gap: 35px;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content; }

.pets__slider-item--bottom {
  grid-column: 1;
  margin-top: auto; }

.pets__slider-item--big {
  grid-column: 2;
  grid-row: 1 / -1; }

.pets__slider-img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover; }
  .pets__slider-img--top {
    height: 214px; }

.pets__button {
  margin: 0 auto;
  margin-top: 55px; }

.breed {
  padding-top: 40px;
  padding-bottom: 100px; }

.breed__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }

.breed__lead {
  margin-top: 23px;
  margin-bottom: 10px;
  width: 735px; }

.breed__picture {
  position: relative; }
  .breed__picture::before, .breed__picture::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 50%; }
  .breed__picture::before {
    top: 40px;
    left: 10px;
    width: 630px;
    height: 630px;
    border: 1px solid #a07b50; }
  .breed__picture::after {
    top: 100px;
    left: 65px;
    width: 520px;
    height: 520px;
    background-color: #151313; }

.breed__picture-img {
  display: block; }

.breed__item {
  position: absolute;
  font-weight: 300; }
  .breed__item::after {
    content: "";
    position: absolute;
    right: -40px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #a07b50; }
  .breed__item--cohabitation {
    width: 280px;
    top: 340px;
    left: -5px;
    text-align: right; }
  .breed__item--appearance {
    width: 220px;
    text-align: right;
    left: 65px;
    bottom: 150px; }
  .breed__item--training {
    width: 210px;
    right: 0;
    bottom: 330px; }
    .breed__item--training::after {
      right: 0;
      left: -40px; }
  .breed__item--weight {
    width: 170px;
    right: 95px;
    bottom: 100px; }
    .breed__item--weight::after {
      right: 0;
      left: -40px; }

.advantages {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #151313; }

.advantages__lead {
  margin-top: 23px;
  margin-bottom: 50px; }

.advantages__list {
  display: flex; }

.advantages__item {
  width: 360px;
  padding: 17px 20px;
  background-color: #1f1c1d; }
  .advantages__item:not(:last-child) {
    margin-right: 40px; }

.advantages__link {
  position: relative;
  display: block;
  padding: 190px 44px 24px;
  color: #ffffff;
  line-height: 26px;
  text-align: center; }
  .advantages__link:hover {
    background-color: #a07b50; }
    .advantages__link:hover .advantages__icon {
      fill: #ffffff; }

.advantages__icon {
  position: absolute;
  top: 47px;
  left: 0;
  right: 0;
  margin: auto;
  width: 110px;
  height: 110px; }

.care {
  padding-top: 85px;
  padding-bottom: 100px;
  background-image: url("../img/bg-care-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.care__list {
  display: grid;
  grid-template-columns: 558px 558px;
  justify-content: space-between;
  row-gap: 40px;
  margin-top: 50px; }

.care__item-link {
  position: relative;
  display: block;
  padding: 40px 80px 40px 60px;
  border: 1px solid #a07b50;
  color: #ffffff; }
  .care__item-link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background-color: #a07b50;
    background-image: url("../img/arrowDetails.svg");
    background-repeat: no-repeat;
    background-position: center; }
  .care__item-link:hover, .care__item-link:focus {
    background-color: #181617; }
    .care__item-link:hover::after, .care__item-link:focus::after {
      background-color: #181617; }

.care__item-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #a07b50; }

.care__item-text {
  margin: 0;
  font-size: 14px;
  font-weight: 300; }

.team {
  padding-top: 80px;
  padding-bottom: 70px;
  background-color: #151313; }

.team__lead {
  margin: 13px auto 22px;
  margin-bottom: 22px;
  width: 510px; }

.team__slider-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-left: 120px; }

.team__slider-img {
  z-index: 10; }

.team__message-wrapper {
  margin-left: -50px;
  margin-top: 1px;
  padding: 65px 100px;
  border: 25px solid #151313;
  border-right-width: 35px;
  outline: 1px solid rgba(160, 123, 80, 0.4);
  background-color: #181617; }

.team__message {
  margin: 0; }

.team__message cite {
  font-style: normal;
  color: #a07b50; }

.team__author {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500; }

.team__job {
  display: block; }

.team__message {
  width: 400px;
  background-color: #181617; }

.team__message-text {
  margin-top: 25px;
  margin-bottom: 45px;
  font-weight: 300; }

.team__slider-button {
  position: absolute;
  top: 50%;
  width: 15px;
  height: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.5; }
  .team__slider-button--prev {
    left: 0;
    background-image: url("../img/arrowPrev.svg"); }
  .team__slider-button--next {
    right: 0;
    background-image: url("../img/arrowNext.svg"); }

.faq {
  padding-top: 73px;
  padding-bottom: 73px; }

.faq__lead {
  margin-top: 23px;
  margin-bottom: 53px; }

.faq__list {
  padding-left: 276px;
  padding-right: 115px; }

.faq__item {
  position: relative;
  border: 1px solid rgba(160, 123, 80, 0.4);
  color: #ddd0c3;
  counter-increment: faq-increment; }
  .faq__item:not(:last-child) {
    margin-bottom: 40px; }
  .faq__item::before {
    content: "0" counter(faq-increment);
    position: absolute;
    top: 16px;
    left: -100px;
    font-size: 70px;
    line-height: 82px;
    font-weight: 700;
    color: #a07b50; }

.faq__item-wrapper {
  display: flex;
  justify-content: space-between; }

.faq__question {
  margin: 0;
  padding-top: 48px;
  padding-bottom: 43px;
  padding-left: 43px; }

.faq__answer {
  padding: 40px 200px 40px 43px;
  border-top: 1px solid rgba(160, 123, 80, 0.4);
  font-weight: 300; }

.faq__answer-text {
  margin: 0; }
  .faq__answer-text:last-child {
    margin-top: 20px; }

.faq__button {
  position: relative;
  width: 104px;
  background-color: transparent;
  border: none;
  border-left: 1px solid rgba(160, 123, 80, 0.4); }
  .faq__button::before, .faq__button::after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 25px;
    height: 1px;
    background-color: #a07b50; }
  .faq__button::after {
    transform: rotate(90deg); }
  .faq__button--active {
    background-color: #a07b50; }
    .faq__button--active::before, .faq__button--active::after {
      background-color: #ffffff; }
    .faq__button--active::after {
      transform: rotate(-180deg);
      transition: 0.5s; }

.reviews {
  padding-bottom: 112px; }

.reviews__list {
  margin-top: 58px; }

.reviews__item {
  display: flex;
  align-items: center;
  padding-left: 120px; }

.reviews__img-wrapper {
  margin-right: -100px;
  z-index: 10; }

.reviews__img {
  display: block; }

.reviews__text-wrapper {
  margin: 0; }

.reviews__text {
  padding: 110px 90px 110px 140px;
  width: 403px;
  background-color: #151313; }

.reviews__author {
  font-size: 24px;
  line-height: 28px;
  font-style: normal; }

.reviews__message {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 300; }

.reviews__info {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  color: #a07b50; }

.reviews__social-list {
  margin-left: 40px;
  align-items: stretch; }

.reviews__social-item {
  display: flex;
  align-items: center;
  padding: 6px;
  border: 1px solid #a07b50; }
  .reviews__social-item:hover, .reviews__social-item:focus {
    border-color: #ffffff; }
    .reviews__social-item:hover .reviews__social-icon, .reviews__social-item:focus .reviews__social-icon {
      fill: #ffffff; }

.footer {
  padding-top: 68px;
  padding-bottom: 68px;
  background-color: #151313; }

.footer__logo {
  margin-right: 125px; }
  .footer__logo:hover .footer__logo-icon, .footer__logo:focus .footer__logo-icon {
    fill: #ffffff; }

.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.footer__social-link:hover .footer__social-icon, .footer__social-link:focus .footer__social-icon {
  fill: #ffffff; }

.footer__address {
  margin-left: 160px;
  margin-right: 68px;
  color: rgba(253, 242, 230, 0.8); }

.footer__tel {
  color: #fdf2e6; }

/*# sourceMappingURL=style.css.map */
